{% load static %}
{% load i18n %}
{% block footer %}
    <footer class="w-100 px-4 py-2 d-flex justify-content-center align-items-center custom-footer">
        <section class="flex-grow-1 d-flex justify-content-center align-items-center general-container">
            <form method="POST">
                {% csrf_token %}
                <label for="image-input-footer" class="imagenLoad">
                    <img id="image-preview-footer" src="{% static 'images/logo.png' %%}" width="40" height="40">
                </label>
                
                <input id="image-input-footer" type="file" style="display: none;" accept="image/*">
            </form>
            <p class="card-text"> {% trans 'Nombre' %}: {{ business_id}} {{ object.nombre }}</p>
            <p class="mx-4 mb-0 h-6">{% trans 'Copyright' %} &#9400 2022 SA - {% trans 'Todos los derechos reservados' %}</p>
        </section>
    </footer>
    
{% endblock %}

{% block inline_javascript %}
<script>
    const imageInput = document.getElementById('image-input-footer');
    const imageLabel = document.querySelector('label[for="image-input-footer"]');
    const imagePreviewFooter = document.getElementById('image-preview-footer');
    const imagePreviewHeader = document.getElementById('image-preview-header');
    const submitButton = document.getElementById('submit-button');
    
    // imageLabel.addEventListener('click', () => {
    //     console.log("entre aqui");
    //     //imageInput.click();
    // });
    
    imageInput.addEventListener('change', () => {
      const file = imageInput.files[0];
      const reader = new FileReader();
      
      reader.onload = (e) => {
        imagePreviewFooter.src=e.target.result;
        imagePreviewHeader.src=e.target.result;

        // imagePreview.forEach(elemento => {
        
        //     elemento.src = e.target.result;
        
        // });
      }
      
      reader.readAsDataURL(file);
    });
    
    // submitButton.addEventListener('click', () => {
    //   const file = imageInput.files[0];
    //   const formData = new FormData();
    //   formData.append('image', file);
      
    //   fetch('/url-del-controlador/', {
    //     method: 'POST',
    //     body: formData
    //   })
    //   .then(response => response.json())
    //   .then(data => {
    //     // hacer algo con la respuesta del servidor
    //   })
    //   .catch(error => console.error(error));
    // });
  </script>
      
{% endblock %}